<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
>
<head th:replace="includes/base :: common_header(~{},~{::link},~{::style})">
    <link rel="stylesheet" th:href="@{/css/tab-common.css}">
    <style>
        @media (min-width: 576px) {
            .modal-dialog {
                max-width: 620px!important;

            }
            .modal-dialog .modal-body {
                padding: 0!important;
                height: 540px;
            }
        }
    </style>
</head>
<body class="app">
<th:block th:replace="includes/base :: common_content(~{::div})">
    <div class="container-fluid">
        <div class="card">
            物料1: <div class="dialogInput"></div>
            <hr>
            物料2: <div class="dialogInput"></div>
        </div>
    </div>
</th:block>
<th:block th:replace="includes/base :: common_js(~{::script})">
    <script th:src="@{/editable-table/editable-table.js}"></script>
    <script th:src="@{/js/jquery.dialogInput.js}"></script>

    <script>
        $('.dialogInput').dialogInput({
            title: '选择物料',
            // placeholder: '请选择物料',
            name: 'material_id',
            reportId: '697147523487240192',
            labelDisplay: function (row) {
                return row.name + ' ' + (!row.characteristic ? '' : row.characteristic)
            }
        })
    </script>
</th:block>
</body>
</html>