<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
>
<body class="app">
    <div class="container-fluid">
        <table class="table table-responsive-sm table-bordered table-sm">
            <tbody>
                <tr>
                    <td colspan="3"><span class="bold">生产单号：</span><span th:text="${schedule.code}"></span></td>
                    <td colspan="3"><span class="bold">交货日期：</span><span th:text="${deliveryDate}"></span></td>
                </tr>
                <tr>
                    <td colspan="3"><span class="bold">计划生产日期：</span><span th:text="${startDate}"></span></td>
                    <td colspan="3"><a th:href="${'/produce_bom/schedule/' + schedule.id + '/download'}">下载BOM</a></td>
                </tr>
                <tr>
                    <td colspan="6"><span class="bold">备注：</span><span th:text="${remark}"></span></td>
                </tr>
                <tr>
                    <td class="bold">产成品名称</td>
                    <td class="bold">规格 & 特征值</td>
                    <td class="bold">需求数量</td>
                    <td class="bold">库存数量</td>
                    <td class="bold">单位</td>
                    <td class="bold">备注</td>
                </tr>
                <tr>
                    <td th:text="${item.materialName}"></td>
                    <td><div th:text="${itemMaterialSpecification}" style="max-width: 240px; white-space: pre-wrap;"></div></td>
                    <td th:text="${scheduleQuantity}"></td>
                    <td></td>
                    <td th:text="${item.unitText}"></td>
                    <td th:text="${item.remark}"></td>
                </tr>
                <tr>
                    <td class="bold" colspan="5">BOM</td>
                </tr>
                <tr th:each="row : ${data}" class="bom">
                    <td th:text="${row[0]}"></td>
                    <td><div th:text="${row[1]}" style="max-width: 240px; white-space: pre-wrap;"></div></td>
                    <td th:text="${row[2]}"></td>
                    <td th:text="${row[7]}"></td>
                    <td th:text="${row[3]}"></td>
                    <td th:text="${row[4]}" style="max-width: 200px; white-space: pre-wrap;"></td>
                </tr>
                <th:block th:if="${item.attachmentList.size() > 0}">
                    <tr>
                        <td class="bold" colspan="5">附件</td>
                    </tr>
                    <tr>
                        <td class="bold" colspan="5"><a style="margin-right: 10px;" target="_blank" th:href="${f.url}" th:text="${f.fullName}" th:each="f : ${item.attachmentList}"></a></td>
                    </tr>
                </th:block>
            </tbody>
        </table>
    </div>
<script>
    $('.bom').each(function () {
        let needQuantity = parseFloat($(this).find('td:nth-child(3)').text());
        let stockQuantity = parseFloat($(this).find('td:nth-child(4)').text());
        if (needQuantity > stockQuantity) {
            $(this).find('td:nth-child(4)').css('background', '#f86c6b').css('color', '#fff')
        }

        if ($(this).find('td:nth-child(1)').text() === '配件') {
            if (!$(this).find('td:last-child').text().trim()) {
                $(this).remove()
            } else {
                $(this).find('td:nth-child(4)').css('background', '#fff').text("")
            }
        }
    })
</script>
</body>
</html>