<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sp="" lang="zh">
<head th:replace="includes/base :: common_header(~{},~{::link},~{::style})">
    <link rel="stylesheet" th:href="@{/css/tab-common.css}">
    <link rel="stylesheet" th:href="@{/css/edit-table.css}">
    <link rel="stylesheet" th:href="@{/plugins/bootstrap-datepicker/css/bootstrap-datepicker.min.css}">
    <style>
        .form-control:disabled, .form-control[readonly] {
            /*background: #fff;*/
        }

        .operator-bar {
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            padding: .2rem 1.25rem;
            background: #fff;
            border-top: 1px solid #c8ced3;
        }

        .table-fixed-container {
            max-height: calc(100vh - 300px);
        }
    </style>
</head>
<body class="app">
<th:block th:replace="includes/base :: common_content(~{::div})">
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <form class="form-inline query-form-container" id="form-header">
                    <div class="form-group">
                        <label class="col-form-label mr-2 required" for="documentDate">凭证日期</label>
                        <input class="form-control" type="text" id="documentDate" name="documentDate" required th:value="${#calendars.format(#calendars.createNow(), 'yyyy-MM-dd')}">
                    </div>
                    <div class="form-group">
                        <label class="col-form-label mr-2" for="plantId">库房</label>
                        <sp:dict id="plantId" name="plantId" key="core_plant" class="form-control" hideAllItem/>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label mr-2" for="operatorId">操作人</label>
                        <sp:dict id="operatorId" name="operatorId" key="sys_user" class="form-control" emptyItemText th:value="${session.user.id}"/>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label mr-2" for="remark">备注</label>
                        <input class="form-control" type="text" id="remark" name="remark">
                    </div>
                </form>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <form class="form-item" id="form-item">
                    <div id="table-container">
                    </div>
                </form>
            </div>
        </div>
        <div id="dialogInput" style="display: none"></div>
        <div id="multipleDialogInput" style="display: none"></div>
        <div class="operator-bar text-center" id="operator-bar">
            <button class="btn btn-primary" type="button" name="send" onclick="send()">
                <i class="fa fa-send"></i> 提交</button>
        </div>
    </div>
</th:block>
<th:block th:replace="includes/base :: common_js(~{::script})">
    <script th:src="@{/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js}"></script>
    <script th:src="@{/plugins/bootstrap-datepicker/js/bootstrap-datepicker.zh-CN.min.js}"></script>
    <script type="text/javascript" th:src="@{/plugins/jquery.form2json.js}"></script>

    <script th:src="@{/editable-table/editable-table.js}"></script>
    <script th:src="@{/js/jquery.table.js}"></script>
    <script th:src="@{/js/editable-table-plus.js}"></script>

    <script th:src="@{/js/jquery.dialogInput.js}"></script>
    <script th:src="@{/js/editable-table-plus-customize_type.js}"></script>
    <script>
        let formHeader = document.getElementById('form-header');
        let formItem = document.getElementById('form-item');

        // 可编辑表格初始化
        let $editableTable = $('#table-container').editableTablePlus({
            customizeType,
            showRowNumber: true, // 是否显示行号
            allowEmpty: false, // 表格允许为空
            columnConfigs: [
                {
                    type: "material",
                    name: "materialId",
                    title: "物料",
                    width: 100,
                    required: true,
                    mode: 'multiple', // 多选
                },
                {
                    type: "label",
                    name: "materialText",
                    title: "规格"
                },
                {
                    type: "decimal",
                    name: "quantity",
                    title: "数量",
                    width: 100,
                    align: 'right',
                    required: true,
                },
                {
                    type: "text_label",
                    name: "unit",
                    title: "单位",
                    width: 100,
                    required: true,
                    disabled: true
                },
                {
                    type: "text",
                    name: "remark",
                    title: "备注"
                }
            ]
        })

        // end
        $('#documentDate').datepicker({
            language: "zh-CN",
            autoclose: true,
            clearBtn: true,
            todayBtn: 'linked',
            todayHighlight: true,
            format: 'yyyy-mm-dd'
        })

        function valid() {
            var formHeaderValidity = formHeader.checkValidity()
            var formItemValidity = formItem.checkValidity()
            formHeader.classList.add('was-validated')
            formItem.classList.add('was-validated')
            return formHeaderValidity && formItemValidity;
        }

        function reset() {
            formHeader.classList.remove('was-validated')
            formItem.classList.remove('was-validated')

            $editableTable.editableTablePlus('clear')

            $("form.readonly :input").prop("disabled", false);
            $("form-item #table tr:last-child").prop("disabled", false);
        }

        function send() {
            if (!valid()) {
                return
            }
            var params = {}
            params['itemList'] = $editableTable.editableTablePlus('getValue')

            params = $.extend({},
                params, $('#form-header').form2json({allowEmptyMultiVal:true})); //合并参数

            console.log(params)

            params.code = '1' // 临时code
            $.ajax({
                url: '/inventory/count',
                type: "POST",
                data: JSON.stringify(params),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function(res){
                    let msg = res.data
                    if (!msg) {
                        msg = '没有产生物料凭证！'
                    }
                    toastr.success('盘点完成！' + msg);
                    reset()
                }
            });
        }
    </script>
</th:block>
</body>
</html>