<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:sp="" lang="zh">
<head th:replace="includes/base :: common_header(~{},~{::link},~{::style})">
    <link rel="stylesheet" th:href="@{/css/tab-common.css}">
    <link rel="stylesheet" th:href="@{/css/edit-table.css}">
    <link rel="stylesheet" th:href="@{/plugins/bootstrap-datepicker/css/bootstrap-datepicker.min.css}">
    <style>
        .operator-bar {
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            padding: .2rem 1.25rem;
            background: #fff;
            border-top: 1px solid #c8ced3;
        }

        .table-fixed-container {
            max-height: calc(100vh - 300px);
        }
    </style>
</head>
<body class="app">
<th:block th:replace="includes/base :: common_content(~{::div})">
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <form class="form-inline query-form-container readonly" id="form-operator" onsubmit="return false">
                    <div class="form-group">
                        <label class="col-form-label mr-2" for="type">场景</label>
                        <select id="type" name="type" class="form-control" onchange="changeType(this)">
                            <option value="INBOUND">收货</option>
                            <option value="OUTBOUND">出货</option>
                            <option value="RETURN">退货</option>
                            <option value="MOVING_TO_PRODUCE">领料</option>
                            <option value="RETURN_FROM_PRODUCE">退料</option>
<!--                            <option value="CANCEL">取消</option>-->
                            <option value="DELETE">删除</option>
                            <option value="DISPLAY">显示</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label mr-2" for="referenceType">参考凭证</label>
                        <select id="referenceType" name="referenceType" class="form-control" onchange="changeReferenceType(this)">
                            <option value="OTHER" hidden>无</option>
                            <option value="MATERIAL_DOCUMENT" hidden>物料凭证</option>
                            <option value="PO" hidden>采购订单</option>
                            <option value="PDO" hidden>生产单</option>
                            <option value="SO" hidden>生产单</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <input class="form-control" id="referenceCode" type="text" name="referenceCode" required>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary mr-2" type="button" id="execBtn" onclick="execute(this)">
                            <i class="fa fa-cog"></i> 确定</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <form class="form-inline query-form-container" id="form-header">
                    <div class="form-group">
                        <label class="col-form-label mr-2 required" for="documentDate">凭证日期</label>
                        <input class="form-control" type="text" id="documentDate" name="documentDate" required th:value="${#calendars.format(#calendars.createNow(), 'yyyy-MM-dd')}">
                    </div>
                    <div class="form-group">
                        <label class="col-form-label mr-2 required" for="plantId">库房</label>
                        <sp:select  id="plantId" name="plantId" key="core_plant" class="form-control" required hideAllItem/>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label mr-2" for="operatorId">操作人</label>
                        <sp:select  id="operatorId" name="operatorId" key="sys_user" class="form-control" emptyItemText th:value="${session.user.id}"/>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label mr-2" for="remark">备注</label>
                        <input class="form-control" type="text" id="remark" name="remark">
                    </div>
                    <div class="form-group">
                        <label class="col-form-label mr-2" for="remark">附件</label>
                        <div class="attachment">
                            <input type="file" multiple="multiple" name="attachment_file" id="attachment_file" data-group-name="inventory" onchange="upload.ajaxFileUpload()" style="width: 99px;">
                            <input type="text" style="display:none;" name="attachmentList" id="attachmentList" value="[]">
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <form class="form-item" id="form-item">
                    <div id="table-container"></div>
                </form>
            </div>
        </div>
        <div id="dialogInput" style="display: none"></div>
        <div id="multipleDialogInput" style="display: none"></div>
        <div class="operator-bar text-center" id="operator-bar">
            <button class="btn btn-primary" type="button" id="send-btn" onclick="send()">
                <i class="fa fa-send"></i> 提交</button>

            <button class="btn btn-primary" type="button" id="update-btn" onclick="update()">
                <i class="fa fa-send"></i> 保存</button>
        </div>
    </div>
</th:block>
<th:block th:replace="includes/base :: common_js(~{::script})">
    <script th:src="@{/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js}"></script>
    <script th:src="@{/plugins/bootstrap-datepicker/js/bootstrap-datepicker.zh-CN.min.js}"></script>
    <script type="text/javascript" th:src="@{/plugins/jquery.form2json.js}"></script>

    <script th:src="@{/editable-table/editable-table.js}"></script>
    <script th:src="@{/js/jquery.table.js}"></script>
    <script th:src="@{/js/editable-table-plus.js}"></script>

    <script th:src="@{/js/jquery.dialogInput.js}"></script>
    <script th:src="@{/js/editable-table-plus-customize_type.js}"></script>

    <script th:src="@{/ajaxfileupload.js}"></script>
    <script th:src="@{/js/upload.js}"></script>

    <script>
        var readonly = false

        let formOperator = document.getElementById('form-operator');
        let $operatorBar = $('#operator-bar')
        let $referenceCode = $('#referenceCode')
        let $execBtn= $('#execBtn')
        let formHeader = document.getElementById('form-header');
        let formItem = document.getElementById('form-item');
        let $documentDate = $('#documentDate')
        let $plantId = $('#plantId')
        let $operatorId = $('#operatorId')
        let $remark = $('#remark')

        // 可编辑表格初始化
        var $editableTable = $('#table-container').editableTablePlus({
            customizeType,
            showRowNumber: true, // 是否显示行号
            readonly: readonly, // 只读
            allowEmpty: false, // 表格允许为空
            columnConfigs: [
                {
                    type: "material",
                    name: "materialId",
                    title: "物料",
                    width: 100,
                    required: true,
                    mode: 'multiple', // 多选
                    selected: function ($tr, value) {
                        characteristic.selectedCharacteristic($tr, value);
                    }
                },
                {
                    type: "label",
                    name: "materialName",
                    title: "名称"
                },
                {
                    type: "label",
                    name: "materialSpecification",
                    title: "规格"
                },
                {
                    type: "characteristic",
                    name: "characteristic",
                    // width: 80,
                    title: "特征值",
                    required: true,
                    disabled: true
                },
                {
                    type: "decimal",
                    name: "quantity",
                    title: "数量",
                    width: 60,
                    align: 'right',
                    required: true,
                },
                {
                    type: "text_label",
                    name: "unit",
                    title: "单位",
                    width: 60,
                    required: false,
                    disabled: true
                },
                {
                    type: "text",
                    name: "remark",
                    title: "备注"
                },
                {
                    type: "hidden",
                    name: "referenceItemId"
                }
            ]
        })


        formOperator.addEventListener('submit', function (event) {
            execute()
        }, false)

        let selectMapping = {
            "INBOUND": ["OTHER", "PO"],
            "OUTBOUND": ["OTHER", "SO"],
            "RETURN": ["PO", "SO"],
            // "RETURN": ["MATERIAL_DOCUMENT", "PO", "SO"],
            "MOVING_TO_PRODUCE": ["OTHER", "PDO"],
            // "RETURN_FROM_PRODUCE": ["OTHER", "PDO"],
            "RETURN_FROM_PRODUCE": ["OTHER"],
            // "CANCEL": ["MATERIAL_DOCUMENT"],
            "DELETE": ["MATERIAL_DOCUMENT"],
            "DISPLAY": ["MATERIAL_DOCUMENT"]
        }

        let referenceTypeDom = document.getElementById('referenceType')
        let type = document.getElementById('type')

        changeType(document.getElementById('type'))

        function changeType(select) {
            reset()
            let selected = false
            for (let option of referenceTypeDom.options) {
                option.hidden = true

                for(let referenceType of selectMapping[select.value]) {
                    if (option.value === referenceType) {
                        option.hidden = false
                        if (!selected) {
                            option.selected = 'selected'
                            selected = true

                            if (option.value === 'OTHER') {
                                $referenceCode.hide()
                                $execBtn.hide()
                                $("#form-item :input:not(readonly)").prop("disabled", false)
                                $("#form-item input[readonly]").prop("disabled", true)
                            } else {
                                $referenceCode.show()
                                $execBtn.show()
                                $("#form-item :input").prop("disabled", true);
                            }
                        }
                        break
                    }
                }
            }

            if (select.value === 'DISPLAY') {
                // $operatorBar.hide()
                $('#documentDate, #plantId, #operatorId').attr('disabled', true)
                $("#send-btn").hide()
                $("#update-btn").show()
            } else {
                $('#documentDate, #plantId, #operatorId').attr('disabled', false)
                // $operatorBar.show()
                $("#send-btn").show()
                $("#update-btn").hide()
            }

            type = select

            if (type.value === 'CANCEL' || type.value === 'DELETE' || type.value === 'DISPLAY' || type.value === 'RETURN') {
                $editableTable.editableTablePlus('readonly', true)
            }

            $('#plantId').val($('#plantId option').val())
        }

        function changeReferenceType(select) {
            reset()

            if (select.value === 'OTHER') {
                $referenceCode.hide()
                $execBtn.hide()
                $("#form-item :input:not(readonly)").prop("disabled", false)
                $("#form-item input[readonly]").prop("disabled", true)
            } else {
                $referenceCode.show()
                $execBtn.show()
                $("#form-item :input").prop("disabled", true);
            }

            if (type.value === 'CANCEL' || type.value === 'DELETE' || type.value === 'DISPLAY' || type.value === 'RETURN') {
                $editableTable.editableTablePlus('readonly', true)
            }

            // 库房自动选择
            if (type.value === 'OUTBOUND' && select.value === 'SO') {
                // 成品库
                $('#plantId').val('726159086739001344')
            } else {
                $('#plantId').val('719893335619162112')
            }

        }

        let referenceCode;

        function execute() {
            let formOperatorValidity = formOperator.checkValidity()
            formOperator.classList.add('was-validated')
            if (formOperatorValidity) {
                console.log(referenceTypeDom.value)
                console.log($referenceCode.val())
                $referenceCode.val($referenceCode.val().trim())
                $editableTable.editableTablePlus('clear')
                // ajax
                $.get("/inventory/documents", {type: type.value, referenceType:referenceTypeDom.value, referenceCode: $referenceCode.val()},function (res) {
                    $referenceCode.val(res.code ? res.code : res.referenceCode)
                    referenceCode = $referenceCode.val()
                    console.log(res)

                    // $editableTable.editableTablePlus('setValue', res.itemList)

                    characteristic.loadCharacteristic($editableTable, res.itemList)

                    res.itemList.forEach((item, index) => {
                        let $tr = $("#table-container tbody tr:nth-child("+(index + 1)+")")
                        // 出库入库
                        if (!(type.value === 'INBOUND' || type.value === 'OUTBOUND' || type.value === 'MOVING_TO_PRODUCE'|| type.value === 'RETURN_FROM_PRODUCE')) {
                            $tr.find('td:nth-child(6)').css('position', 'relative').append("<span style='position: absolute;top: 5px; right: 0;'>"+(item.movementType === 'OUTBOUND' ? '-' : '+')+"</span>")
                        }
                    })

                    if (type.value === 'DISPLAY') {
                        $editableTable.editableTablePlus('readonly', true)

                        $documentDate.val(res.documentDate)
                        if (res.plantId) {
                            $plantId.val(res.plantId)
                        }

                        $operatorId.val(res.operatorId)
                        $remark.val(res.remark)

                        upload.setAttachment(res.attachmentList)

                        $("#table-container table.table-tbody :input[name=remark]").prop("disabled", false).prop('readonly', false)
                    } else if (type.value === 'CANCEL') {
                        if (res.canceled) {
                            toastr.warning('物料凭证已经被取消了，不能重复取消!')
                        }
                        $editableTable.editableTablePlus('readonly', true)
                    } else if (type.value === 'DELETE') {
                        $editableTable.editableTablePlus('readonly', true)
                    } else if(type.value === 'RETURN' || type.value === 'INBOUND' || type.value === 'OUTBOUND' || type.value === 'MOVING_TO_PRODUCE'|| type.value === 'RETURN_FROM_PRODUCE') {
                        $editableTable.editableTablePlus('readonly', false)
                        $("#table-container table.table-tbody :input[name=materialCode]").prop("disabled", true).prop('readonly', true)
                    }
                }).fail(function(err) {
                    console.log(err.responseJSON)
                })
            }
        }

        // end

        $('#documentDate').datepicker({
            language: "zh-CN",
            autoclose: true,
            clearBtn: true,
            todayBtn: 'linked',
            todayHighlight: true,
            format: 'yyyy-mm-dd'
        })

        function valid() {
            var formHeaderValidity = formHeader.checkValidity()
            var formItemValidity = formItem.checkValidity()
            formHeader.classList.add('was-validated')
            formItem.classList.add('was-validated')
            return formHeaderValidity && formItemValidity;
        }

        /**
         * 重置可编辑状态
         */
        function reset() {
            formHeader.classList.remove('was-validated')
            formItem.classList.remove('was-validated')
            formOperator.classList.remove('was-validated')

            $editableTable.editableTablePlus('readonly', false)
            $editableTable.editableTablePlus('clear')

            document.getElementById('referenceCode').value = ''
            document.getElementById('remark').value = ''

            document.getElementById('attachment_file').value = ''
            document.getElementById('attachmentList').value = '[]'
            $('.attachment .item').remove()
            // $("form.readonly :input").prop("disabled", false);
        }

        function send() {
            if (!valid()) {
                return
            }

            let params = $.extend({},
                $('#form-operator').form2json({allowEmptyMultiVal:true}), $('#form-header').form2json({allowEmptyMultiVal:true})); //合并参数
            params['itemList'] = $editableTable.editableTablePlus('getValue')

            delete params.attachment_file
            params['attachmentList'] = JSON.parse(params['attachmentList'])

            characteristic.getCharacteristicParams($editableTable, params['itemList'])

            console.log(params)

            params.code = '1' // 临时code

            $.ajax({
                url: '/inventory',
                type: "POST",
                data: JSON.stringify(params),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function(res){
                    let msg = res.data
                    if (!msg) {
                        msg = '没有产生物料凭证！'
                    }
                    toastr.success('提交成功! ' + msg);
                    reset()
                    reloadTab('inventory_list')
                }
            });
        }

        function update() {
            let params = $.extend({},
                $('#form-operator').form2json({allowEmptyMultiVal:true}), $('#form-header').form2json({allowEmptyMultiVal:true})); //合并参数
            params['itemList'] = $editableTable.editableTablePlus('getValue')

            delete params.attachment_file
            params['attachmentList'] = JSON.parse(params['attachmentList'])

            $.ajax({
                url: '/inventory/' + referenceCode,
                type: "PUT",
                data: JSON.stringify(params),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function(){
                    toastr.success('更新成功! ' );
                }
            });
        }

        let urlObject = getUrlObject();
        if (urlObject.referenceCode) {
            document.getElementById('type').value = 'DISPLAY'
            changeType(document.getElementById('type'))
            $referenceCode.val(urlObject.referenceCode)
            execute()
        }
    </script>

    <script sec:authorize="hasAuthority('ROLE_so')">
        document.getElementById('type').value = 'OUTBOUND'
        changeType(document.getElementById('type'))

        document.getElementById('referenceType').value = 'SO'
        changeReferenceType(document.getElementById('referenceType'))
    </script>

    <script sec:authorize="hasAuthority('USER_cqk')">
        $('#plantId').val('726158903766683648')
        $('#plantId option[value!=726158903766683648]').remove()
    </script>

    <script sec:authorize="hasAuthority('USER_jxk')">
        $('#plantId').val('726158996003622912')
        $('#plantId option[value!=726158996003622912]').remove()
    </script>

    <script sec:authorize="hasAuthority('USER_cpk')">
        $('#plantId').val('726159086739001344')
        $('#plantId option[value!=726159086739001344]').remove()
    </script>
</th:block>
</body>
</html>