<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sp="" lang="zh">
<head th:replace="includes/base :: common_header(~{},~{::link},~{::style})">
    <link rel="stylesheet" th:href="@{/css/tab-common.css}">
    <link rel="stylesheet" th:href="@{/plugins/bootstrap-datepicker/css/bootstrap-datepicker.min.css}">
    <style>
        .form-control:disabled, .form-control[readonly] {
            /*background: #fff;*/
        }

        .operator-bar {
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            padding: .2rem 1.25rem;
            background: #fff;
            border-top: 1px solid #c8ced3;
        }

        .table-fixed-container {
            max-height: calc(100vh - 340px);
        }
    </style>
</head>
<body class="app">
<th:block th:replace="includes/base :: common_content(~{::div})">
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <form class="form-inline query-form-container readonly" id="form-operator" onsubmit="return false">
                    <div class="form-group">
                        <label class="col-form-label mr-2" for="type">场景</label>
                        <select id="type" name="type" class="form-control" onchange="changeType(this)">
                            <option value="INBOUND">入库</option>
                            <option value="OUTBOUND">出库</option>
                            <option value="RETURN">退货</option>
                            <option value="CANCEL">取消</option>
                            <option value="DISPLAY">显示</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label mr-2" for="referenceType">参考凭证</label>
                        <select id="referenceType" name="referenceType" class="form-control" onchange="changeReferenceType(this)">
                            <option value="OTHER" hidden>无</option>
                            <option value="MATERIAL_DOCUMENT" hidden>参考凭证</option>
                            <option value="PO" hidden>采购订单</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <input class="form-control" id="referenceCode" type="text" name="referenceCode" required>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary mr-2" type="button" id="execBtn" onclick="execute(this)">
                            <i class="fa fa-cog"></i> 确定</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <form class="form-inline query-form-container" id="form-header">
                    <div class="form-group">
                        <label class="col-form-label mr-2 required" for="documentDate">凭证日期</label>
                        <input class="form-control" type="text" id="documentDate" name="documentDate" required th:value="${#calendars.format(#calendars.createNow(), 'yyyy-MM-dd')}">
                    </div>
                    <div class="form-group">
                        <label class="col-form-label mr-2" for="plantId">库房</label>
                        <sp:dict id="plantId" name="plantId" key="core_plant" class="form-control" hideAllItem/>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label mr-2" for="operatorId">操作人</label>
                        <sp:dict id="operatorId" name="operatorId" key="sys_user" class="form-control" emptyItemText th:value="${session.user.id}"/>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label mr-2" for="remark">备注</label>
                        <input class="form-control" type="text" id="remark" name="remark">
                    </div>
                </form>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <div id="table-container">
                    <form class="form-item" id="form-item">
                        <div class="table-fixed-container">
                            <table class="table-thead">
                                <thead>
                                <tr>
                                    <th style="width: 40px;">序号</th>
                                    <th><label class="col-form-label col-sm-2 required">物料</label></th>
                                    <th><label class="col-form-label col-sm-2">描述</label></th>
                                    <th><label class="col-form-label col-sm-2 required">数量</label></th>
                                    <th><label class="col-form-label col-sm-2">单位</label></th>
                                    <th><label class="col-form-label col-sm-2">备注</label></th>
                                    <th style="width: 50px;"></th>
                                </tr>
                                </thead>
                            </table>

                            <table id="table" class="table-tbody">
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div id="dialogInput" style="display: none"></div>
        <div class="operator-bar text-center" id="operator-bar">
            <button class="btn btn-primary" type="button" name="send" onclick="send()">
                <i class="fa fa-send"></i> 提交</button>
        </div>
    </div>
</th:block>
<th:block th:replace="includes/base :: common_js(~{::script})">
    <script th:src="@{/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js}"></script>
    <script th:src="@{/plugins/bootstrap-datepicker/js/bootstrap-datepicker.zh-CN.min.js}"></script>
    <script type="text/javascript" th:src="@{/plugins/jquery.form2json.js}"></script>

    <script th:src="@{/js/jquery.dialogInput.js}"></script>
    <script th:src="@{/js/jquery.table.js}"></script>
    <script th:src="@{/editable-table/editable-table.js}"></script>
    <script>
        let formOperator = document.getElementById('form-operator');
        let $operatorBar = $('#operator-bar')
        let $referenceCode = $('#referenceCode')
        let $execBtn= $('#execBtn')
        let formHeader = document.getElementById('form-header');
        let formItem = document.getElementById('form-item');
        let $documentDate = $('#documentDate')
        let $plantId = $('#plantId')
        let $operatorId = $('#operatorId')
        let $remark = $('#remark')

        let editableTableIndex = 1

        let columnConfigs = [
            {
                type: "material_input",
                name: "materialId",
                required: true,
            },
            {
                type: "label",
                name: "materialText",
            },
            {
                type: "number",
                name: "quantity",
                required: true,
            },
            {
                type: "text-label",
                name: "unit",
                required: true,
            },
            {
                type: "text",
                name: "remark",
            }
        ]

        formOperator.addEventListener('submit', function (event) {
            execute()
        }, false)

        let selectMapping = {
            "INBOUND": ["OTHER", "PO"],
            "OUTBOUND": ["OTHER"],
            "RETURN": ["PO"],
            "CANCEL": ["MATERIAL_DOCUMENT"],
            "DISPLAY": ["MATERIAL_DOCUMENT"]
        }

        let referenceTypeDom = document.getElementById('referenceType')
        let type = document.getElementById('type')

        changeType(document.getElementById('type'))

        function changeType(select) {
            let selected = false
            for (let option of referenceTypeDom.options) {
                option.hidden = true
                for(let referenceType of selectMapping[select.value]) {
                    if (option.value === referenceType) {
                        option.hidden = false
                        if (!selected) {
                            option.selected = 'selected'
                            selected = true

                            if (option.value === 'OTHER') {
                                $referenceCode.hide()
                                $execBtn.hide()
                                $("#form-item :input:not(readonly)").prop("disabled", false)
                                $("#form-item input[readonly]").prop("disabled", true)
                            } else {
                                $referenceCode.show()
                                $execBtn.show()
                                $("#form-item :input").prop("disabled", true);
                            }
                        }
                        break
                    }
                }
            }

            if (select.value === 'DISPLAY') {
                $operatorBar.hide()
            } else {
                $operatorBar.show()
            }
            reset()
        }

        function changeReferenceType(select) {
            if (select.value === 'OTHER') {
                $referenceCode.hide()
                $execBtn.hide()
                $("#form-item :input:not(readonly)").prop("disabled", false)
                $("#form-item input[readonly]").prop("disabled", true)
            } else {
                $referenceCode.show()
                $execBtn.show()
                $("#form-item :input").prop("disabled", true);
            }
            reset()
        }
        
        function execute() {
            let formOperatorValidity = formOperator.checkValidity()
            formOperator.classList.add('was-validated')
            if (formOperatorValidity) {
                console.log(referenceTypeDom.value)
                console.log($referenceCode.val())

                tableReset()
                // ajax
                $.get("/inventory/documents", {referenceType:referenceTypeDom.value, referenceCode: $referenceCode.val()},function (res) {
                    console.log(res)
                    $documentDate.val(res.documentDate)
                    $plantId.val(res.plantId)
                    $operatorId.val(res.operatorId)
                    $remark.val(res.remark)

                    let $currentTr

                    for (let item of res.itemList) {
                        let $tr = $('<tr>\n    ' +
                            '<td></td>\n    ' +
                            '<td><input class="form-control" type="text" autocomplete="off"></td>\n    ' +
                            '<td><input class="form-control" type="text" autocomplete="off"></td>\n    ' +
                            '<td><input class="form-control" type="text" autocomplete="off"></td>\n    ' +
                            '<td><input class="form-control" type="text" autocomplete="off"></td>\n    ' +
                            '<td><input class="form-control" type="text" autocomplete="off"></td>\n    ' +
                            '<td class="operator btn-link"><input type="hidden" name="referenceItemId"></td>\n' +
                            '</tr>')

                        if ($currentTr) {
                            $currentTr.after($tr)
                        } else {
                            $('#table tbody').prepend($tr)
                        }

                        formatTr($tr);
                        $tr.find("input[name]").each(function () {
                            $(this).val(item[this.name])
                        })

                        // 其他值
                        $tr.find('td:nth-child(5) input[type=text]').val(item.unitText)
                        // 出库入库
                        $tr.find('td:nth-child(4)').css('position', 'relative').append("<span style='position: absolute;left: 5px; top: 8px;'>"+(item.movementType === 'OUTBOUND' ? '-' : '+')+"</span>")
                        $currentTr = $tr
                    }

                    if (type.value === 'DISPLAY') {
                        $("form :input").prop("disabled", true);
                        $referenceCode.prop("disabled", false);
                        $execBtn.prop("disabled", false);
                    } else if (type.value === 'CANCEL') {
                        $("form :input").prop("disabled", true);
                    } else {
                        $("form.readonly :input").prop("disabled", true);
                        $("#table tr:last-child").prop("disabled", true);
                    }

                    rebuildIndex()
                }).fail(function(err) {
                    console.log(err.responseJSON)
                })
            }
        }

        // end
        let dialogInput = $('#dialogInput');
        var currentMaterialDom;

        $('#documentDate').datepicker({
            language: "zh-CN",
            autoclose: true,
            clearBtn: true,
            todayBtn: 'linked',
            todayHighlight: true,
            format: 'yyyy-mm-dd'
        })

        $('#table-container').table({fixedHead: true})
        $('.tr-empty.non-data').remove()


        $('#table').editableTable({
            columns: columnConfigs.length + 1,
            addEmptyLineCallback: function ($tr) {
                formatTr($tr)
                rebuildIndex()
            },
            beforeRemoveCallback: function ($parent) {
                // console.log($parent)
                return true
            },
            afterRemoveCallback: function ($parent) {
                // console.log($parent)
                rebuildIndex()
                return true
            }
        })

        function formatTr($tr) {
            for (let i = 0; i < columnConfigs.length; i++) {
                let columnConfig = columnConfigs[i];
                let childIndex = i + 2

                if (columnConfig.type === 'material_input') {
                    $tr.find('td:nth-child('+childIndex+') input')
                        .attr('name', 'materialCode')
                        .attr('readonly', false);
                    $tr.find('td:nth-child('+childIndex+')').append('<input class="form-control" type="hidden" name="'+columnConfig.name+'">')
                } else if (columnConfig.type === 'number') {
                    $tr.find('td:nth-child('+childIndex+') input')
                        // .attr('type', 'number')
                        .attr('pattern', '^\\d+(\\.\\d{1,3})?$')
                        .attr('title', '必须数字')
                        .attr('name', columnConfig.name);
                } else if (columnConfig.type === 'text-label') {
                    $tr.find('td:nth-child('+childIndex+') input').attr('disabled', true).attr('readonly', true)
                    $tr.find('td:nth-child('+childIndex+')').append('<input class="form-control" type="hidden" name="'+columnConfig.name+'">')
                } else if (columnConfig.type === 'label') {
                    $tr.find('td:nth-child('+childIndex+') input').attr('disabled', true).attr('readonly', true).attr('name', columnConfig.name)
                } else if (columnConfig.type === 'text') {
                        $tr.find('td:nth-child('+childIndex+') input').attr('name', columnConfig.name)
                    }
                }
        }

        function rebuildIndex() {
            editableTableIndex = 1;
            $('#table tbody tr').each(function () {
                $(this).find('td:nth-child(1)').text(editableTableIndex++)
            })

            // 倒数第二个 设置 required
            let $tr = $('#table tbody tr:last-child')
            let $requiredTr = $tr.prev()
            if ($requiredTr.length == 0) {
                $requiredTr = $tr
            }

            for (let i = 0; i < columnConfigs.length; i++) {
                let columnConfig = columnConfigs[i];
                let childIndex = i + 2

                if (columnConfig.required === true) {
                    $requiredTr.find('td:nth-child('+childIndex+') input').attr('required', true)
                }
            }
        }

        $('#dialogInput').dialogInput({
            title: '选择物料',
            reportId: '697147523487240192',
            labelDisplay: function (row) {
                return row.name + ' ' + (!row.characteristic ? '' : row.characteristic)
            },
            selected: function (row) {
                console.log(row)
                if ("createEvent" in document) {
                    var evt = document.createEvent("HTMLEvents");
                    evt.initEvent("input", false, true);
                    currentMaterialDom.dispatchEvent(evt);
                }
                else
                    currentMaterialDom.fireEvent("input");

                currentMaterialDom.value = row.code
                setCaretPosition(currentMaterialDom, currentMaterialDom.value.length)

                $(currentMaterialDom).parent().next().find('input[type=text]').val(this.labelDisplay(row))

                $(currentMaterialDom).parents('tr').find('td:nth-child(5) input[type=text]').val(row.base_unit_name)
                $(currentMaterialDom).parents('tr').find('td:nth-child(5) input[type=hidden]').val(row.base_unit)

                $(currentMaterialDom).siblings().val(row.id)
            }
        })

        function setCaretPosition(ctrl, pos) {
            // Modern browsers
            if (ctrl.setSelectionRange) {
                ctrl.focus();
                ctrl.setSelectionRange(pos, pos);

                // IE8 and below
            } else if (ctrl.createTextRange) {
                var range = ctrl.createTextRange();
                range.collapse(true);
                range.moveEnd('character', pos);
                range.moveStart('character', pos);
                range.select();
            }
        }

        // 注册事件
        (function () {
            for (let i = 0; i < columnConfigs.length; i++) {
                let columnConfig = columnConfigs[i];
                let childIndex = i + 2

                if (columnConfig.type === 'material_input') {
                    $('#table tbody').delegate('td:nth-child('+childIndex+') input[type=text]', 'click keydown focus', function(event){
                        // if ((event.keyCode && event.keyCode === 13) || !event.keyCode) {
                        if ((event.keyCode && event.keyCode !== 9) || !event.keyCode) {
                            dialogInput.click();
                            currentMaterialDom = this
                        }

                        if (event.keyCode !== 9 ) {
                            event.preventDefault();
                            return;
                        }
                    })

                } else if (columnConfig.type === 'number') {
                    $('#table tbody').delegate('td:nth-child('+childIndex+') input[type=text]', 'keydown', function(event){
                        if ((event.keyCode > 57 || event.keyCode < 48) && event.keyCode !== 8 && event.keyCode !== 190 && event.keyCode !== 39 && event.keyCode !== 37 && event.keyCode !== 9) {
                            event.preventDefault();
                            return;
                        }
                    })
                }
            }
        })()

        function valid() {
            var formHeaderValidity = formHeader.checkValidity()
            var formItemValidity = formItem.checkValidity()
            formHeader.classList.add('was-validated')
            formItem.classList.add('was-validated')
            return formHeaderValidity && formItemValidity;
        }

        function reset() {
            formHeader.classList.remove('was-validated')
            formItem.classList.remove('was-validated')
            formOperator.classList.remove('was-validated')

            tableReset()

            document.getElementById('referenceCode').value = ''
            $("form.readonly :input").prop("disabled", false);
            $("form-item #table tr:last-child").prop("disabled", false);
        }

        function tableReset() {
            $('#table tbody tr:not(:last-child)').remove()
            rebuildIndex()
        }

        function send() {
            var params = {}
            var items = []
            $('#table tbody tr:not(:last-child)').each(function () {
                var row = {}
                $(this).find('td input[name]').each(function () {
                    row[$(this).attr('name')] = $(this).val()
                })

                // 处理material
                if (!row.materialId) {
                    $(this).siblings().val('')
                }

                // 如何全部为空删除该行
                let allEmpty = true
                for (const [key, value] of Object.entries(row)) {
                    if (!!value) {
                        allEmpty = false
                        break
                    }
                }
                if (allEmpty) {
                    $(this).remove()
                } else {
                    items.push(row)
                }
                //end
            })

            rebuildIndex()

            params['itemList'] = items

            if (!valid()) {
                return
            }

            if (items.length == 0) {
                toastr.error('行项目缺少物料信息');
                return;
            }

            params = $.extend({},
                params, $('#form-operator').form2json({allowEmptyMultiVal:true}), $('#form-header').form2json({allowEmptyMultiVal:true})); //合并参数

            console.log(params)
            params.code = '1' // 临时code
            $.ajax({
                url: '/inventory',
                type: "POST",
                data: JSON.stringify(params),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function(res){
                    toastr.success('提交成功 ' + res.data);
                    reset()
                }
            });
        }
    </script>
</th:block>
</body>
</html>