<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:sp="">
<head th:replace="includes/base :: common_header(~{},~{::link},~{::style})">
    <link rel="stylesheet" th:href="@{/css/tab-common.css}">
    <link rel="stylesheet" th:href="@{/css/edit-table.css}">
    <link rel="stylesheet" th:href="@{/plugins/bootstrap-datepicker/css/bootstrap-datepicker.min.css}">
    <style>
        .operator-bar {
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            padding: .2rem 1.25rem;
            background: #fff;
            border-top: 1px solid #c8ced3;
        }

        #form-item .table-fixed-container {
            max-height: calc(100vh - 440px);
        }

        #goods_receipt_container .table-fixed-container {
            max-height: 120px;
        }

        .form-item .footer span {
            margin-right: .5rem;
        }
    </style>
</head>
<body class="app">
<th:block th:replace="includes/base :: common_content(~{::div})">
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <form class="form-inline query-form-container" id="form-header">
                    <input type="hidden" id="id" th:value="${po.id}"/>
                    <input id="code" type="hidden" name="code" th:value="${po.code == null ? '1' : po.code}">
                    <div class="form-group">
                        <label class="col-form-label mr-2 required" for="partnerId">供应商</label>
                        <sp:dict id="partnerId" name="partnerId" key="core_partner_vendor" th:value="${po.partnerId}" class="form-control" emptyItemText required/>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label mr-2" for="plantId">入库库房</label>
                        <sp:dict id="plantId" name="plantId" key="core_plant" th:value="${po.plantId}" class="form-control" hideAllItem/>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label mr-2 required" for="deliveryDate">交货日期</label>
                        <input class="form-control" type="text" id="deliveryDate" name="deliveryDate" required th:value="${po.deliveryDate == null ? #calendars.format(#calendars.createNow(), 'yyyy-MM-dd') : po.deliveryDate}">
                    </div>
                    <div class="form-group">
                        <label class="col-form-label mr-2" for="remark">备注</label>
                        <input class="form-control" type="text" id="remark" th:value="${po.remark}" name="remark">
                    </div>
                </form>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <form class="form-item" id="form-item">
                    <div id="table-container">
                    </div>
                    <div class="pull-right mt-2 mr-5 footer">
                        <label>订单号：</label><span class="bold" th:text="${po.code}" id="code_text"></span>
                        <label>创建人：</label><span class="bold" th:text="${createName}"></span>
                        <label>创建时间：</label><span id="createTime" class="bold" th:text="${createTime}"></span>
                        <label>预计本单应付：</label><span class="bold" id="total_amount" style="color: #f86c6b;">0</span>元
                        <input type="hidden" name="totalAmount" id="totalAmount">
                    </div>
                </form>
            </div>
        </div>

        <div class="nav-tabs-boxed" th:if="${po.id != null}">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#tab-1" role="tab" aria-controls="home" aria-selected="false">收货记录</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tab-1" role="tabpanel">
                    <div id="goods_receipt_container" role="tabpanel">
                        <div class="table-fixed-container">
                            <table class="table table-responsive-sm table-bordered table-striped table-sm table-thead">
                                <thead>
                                <tr>
                                    <th style="width: 50px" data-index>序号</th>
                                    <th style="width: 100px" class="sortable active asc">物料</th>
                                    <th>描述</th>
                                    <th style="width: 100px">基本单位</th>
                                    <th style="width: 100px" class="sortable text-right">订单数量</th>
                                    <th style="width: 120px" class="sortable text-right" data-sort-type="number">已收货数量</th>
                                    <th style="width: 120px" class="sortable text-right" data-sort-type="number">待收货数量</th>
                                    <th style="width: 90px" class="sortable">状态</th>
                                    <th style="width: 120px">物料凭证</th>
                                </tr>
                                </thead>
                            </table>
                            <table class="table table-responsive-sm table-bordered table-striped table-sm table-tbody">
                                <tbody>
                                <tr th:each="s: ${goodsReceiptItemList}">
                                    <td th:text="${sStat.index + 1}" data-index></td>
                                    <td th:text="${s.materialCode}" th:data-sort-value="${s.materialCode}"></td>
                                    <td th:text="${s.materialText}" th:data-sort-value="${s.materialText}"></td>
                                    <td th:text="${s.unitText}" th:data-sort-value="${s.unitText}"></td>
                                    <td th:text="${#numbers.formatDecimal(s.quantity,1,'COMMA',2,'POINT')}" th:data-sort-value="${s.quantity}" th:class="text-right"></td>
                                    <td th:text="${#numbers.formatDecimal(s.goodsReceiptQuantity,1,'COMMA',2,'POINT')}" th:data-sort-value="${s.goodsReceiptQuantity}" th:class="text-right"></td>
                                    <td th:text="${#numbers.formatDecimal(s.openQuantity,1,'COMMA',2,'POINT')}" th:data-sort-value="${s.openQuantity}" th:class="text-right"></td>
                                    <td th:class="${'status-' + s.complete}" th:data-sort-value="${s.complete}" th:text="${s.complete == true ? '已完成' : '未完成'}"></td>
                                    <td>
                                        <a href="javascript:;" th:onclick="openOnNewTab('[(${s.id})]', '[(${\'/reports/699659248728047616?root_reference_code=\'+s.purchaseOrderCode+\'&root_reference_item_id=\'+s.id+\'&material_id=\' + s.materialId})]', '物料凭证')">详情</a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="dialogInput" style="display: none"></div>
        <div class="operator-bar text-center" id="operator-bar" sec:authorize="${hasAuthority('pur_purchase_order_add') or hasAuthority('pur_purchase_order_edit')}">
            <button class="btn btn-primary" type="button" name="send" onclick="send()">
                <i class="fa fa-send"></i> 提交</button>
        </div>
    </div>
</th:block>
<th:block th:replace="includes/base :: common_js(~{::script})">
    <script th:src="@{/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js}"></script>
    <script th:src="@{/plugins/bootstrap-datepicker/js/bootstrap-datepicker.zh-CN.min.js}"></script>
    <script type="text/javascript" th:src="@{/plugins/jquery.form2json.js}"></script>

    <script th:src="@{/editable-table/editable-table.js}"></script>
    <script th:src="@{/js/jquery.table.js}"></script>
    <script th:src="@{/js/editable-table-plus.js}"></script>

    <script th:src="@{/js/jquery.dialogInput.js}"></script>
    <script th:src="@{/js/editable-table-plus-customize_type.js}"></script>

    <script th:inline="javascript">
        var readonly = false
        let formHeader = document.getElementById('form-header');
        let formItem = document.getElementById('form-item');

        let value = [
            // {
                // "marriage": ["990", "999"]
                // "marriage": true
            // }
        ]
        // 可编辑表格初始化
        var $editableTable = $('#table-container').editableTablePlus({
            customizeType,
            showRowNumber: true, // 是否显示行号
            readonly: readonly, // 只读
            allowEmpty: false, // 表格允许为空
            columnConfigs: [
                {
                    type: "material",
                    name: "materialId",
                    title: "物料",
                    width: 100,
                    required: true,
                },
                {
                    type: "label",
                    name: "materialText",
                    title: "规格"
                },
                {
                    type: "decimal",
                    name: "quantity",
                    title: "数量",
                    width: 100,
                    required: true,
                    align: 'right',
                    keyup: function ($tr, event, value) {
                        calcAmount($tr);
                    }
                },
                {
                    type: "text_label",
                    name: "unit",
                    title: "单位",
                    width: 100,
                    disabled: true,
                    required: false,
                },
                {
                    type: "decimal",
                    name: "unitPrice",
                    title: "含税单价",
                    align: 'right',
                    width: 100,
                    required: true,
                    keyup: function ($tr, event, value) {
                        calcAmount($tr);
                    }
                },
                {
                    type: "label",
                    name: "amount",
                    width: 100,
                    title: "含税总计",
                    required: false,
                },
                {
                    type: "text",
                    title: "备注",
                    name: "remark",
                },
                // {
                //     type: "checkbox",
                //     title: "marriage",
                //     name: "marriage",
                //     align: "center",
                //     datasource: [ // 有datasource 多选， 没有就是单选
                //         {
                //             name: "990",
                //             value: "轮毂"
                //         },
                //         {
                //             name: "999",
                //             value: "端盖"
                //         },
                //         {
                //             name: "9999",
                //             value: "转子"
                //         }
                //     ],
                //     onchange: function ($tr, value) {
                //         console.log(value)
                //     }
                // }
            ],
            value, // 初始化值
            rowClick: function ($tr, row) {
                console.log(row)
            }
        })

        // end
        $('#deliveryDate').datepicker({
            language: "zh-CN",
            autoclose: true,
            clearBtn: true,
            todayBtn: 'linked',
            todayHighlight: true,
            format: 'yyyy-mm-dd',
            startDate: new Date()
        })

        function calcAmount($tr) {
            $tr.find('td input[name=amount]').val('')

            let quantity = $tr.find('td input[name=quantity]').val()
            let unitPrice = $tr.find('td input[name=unitPrice]').val()
            if (quantity && unitPrice) {
                let amount = math.multiply(math.bignumber(quantity), math.bignumber(unitPrice));
                $tr.find('td input[name=amount]').val(amount)
            }

            calcTotalAmount()
        }

        function calcTotalAmount() {
            let totalAmount = 0
            $('#table-container tbody input[name=amount]').each(function () {
                if ($(this).val()) {
                    totalAmount = math.add(math.bignumber(totalAmount), math.bignumber($(this).val()));
                }
            })
            $('#total_amount').text(totalAmount)
            $('#totalAmount').text(totalAmount)
        }

        function valid() {
            var formHeaderValidity = formHeader.checkValidity()
            var formItemValidity = formItem.checkValidity()
            formHeader.classList.add('was-validated')
            formItem.classList.add('was-validated')
            return formHeaderValidity && formItemValidity;
        }

        function reset() {
            formHeader.classList.remove('was-validated')
            formItem.classList.remove('was-validated')
            $editableTable.editableTablePlus('clear')
        }

        function send() {
            if (!valid()) {
                return
            }

            var params = $('#form-header').form2json({allowEmptyMultiVal:true})
            params['itemList'] = $editableTable.editableTablePlus('getValue')
            console.log(params)

            $.ajax({
                url: '/purchase_order',
                type: "POST",
                data: JSON.stringify(params),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function(res){
                    $('#code').val(res.code)
                    $('#code_text').text(res.code)
                    $('#id').val(res.id)
                    $('#createTime').text(res.createTime)

                    reset();
                    loadItem(res.itemList)

                    toastr.success('订单提交成功！' + res.code);

                    let frameLength = window.parent.frames.length
                    for (let i = 0; i < frameLength; i++) {
                        // 刷新订单列表
                        let frame = window.parent.frames[i]
                        if (frame.location.pathname === '/reports/702566176051462144') {
                            frame.location.reload()
                            return
                        }
                    }
                }
            });
        }

        $('#goods_receipt_container').table({
            fixedHead: true
        })

        // loading detail
        let itemList = /*[[${po.itemList}]]*/
        loadItem(itemList)

        function loadItem(itemList) {
            if (itemList) {
                $editableTable.editableTablePlus('setValue', itemList)
                calcTotalAmount()
            }
        }
    </script>
</th:block>
</body>
</html>