<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:sp="">
<head th:replace="includes/base :: common_header(~{},~{::link},~{::style})">
    <link rel="stylesheet" th:href="@{/css/tab-common.css}">
    <link rel="stylesheet" th:href="@{/css/edit-table.css}">
    <link rel="stylesheet" th:href="@{/plugins/bootstrap-datepicker/css/bootstrap-datepicker.min.css}">
    <style>
        .operator-bar {
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            padding: .2rem 1.25rem;
            background: #fff;
            border-top: 1px solid #c8ced3;
        }

        #form-item .table-fixed-container {
            max-height: calc(100vh - 580px);
        }

        #goods_receipt_container .table-fixed-container {
            max-height: 220px;
        }

        .form-item .footer span {
            margin-right: .5rem;
        }

        .status-false {
            color: #f86c6b;
        }

        .status-true {
            color: #1da142;
        }
    </style>
</head>
<body class="app">
<th:block th:replace="includes/base :: common_content(~{::div})">
    <div class="container-fluid">
        <div class="card" sec:authorize="${hasAuthority('pur_purchase_order_add') or hasAuthority('pur_purchase_order_edit')}">
            <div class="card-body">
                <form class="form-inline query-form-container" id="form-header">
                    <input type="hidden" id="id" th:value="${po.id}"/>
                    <input id="code" type="hidden" name="code" th:value="${po.code == null ? '1' : po.code}">
                    <div class="form-group">
                        <label class="col-form-label mr-2 required" for="partnerId">供应商</label>
                        <sp:select  id="partnerId" name="partnerId" key="core_partner_vendor" th:value="${po.partnerId}" class="form-control" emptyItemText required onchange="changeVendor(this)" th:attr="disabled=${po.id != null}"/>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label mr-2 required" for="contactPerson">联系人</label>
                        <input class="form-control" type="text" id="contactPerson" th:value="${po.contactPerson}" name="contactPerson" required>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label mr-2 required" for="contactNumber">联系电话</label>
                        <input class="form-control" type="text" id="contactNumber" th:value="${po.contactNumber}" name="contactNumber" required>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label mr-2" for="contactMail">联系邮箱</label>
                        <input class="form-control" type="text" id="contactMail" th:value="${po.contactMail}" name="contactMail">
                    </div>
                    <div class="form-group">
                        <label class="col-form-label mr-2" for="plantId">入库库房</label>
                        <sp:select  id="plantId" name="plantId" key="core_plant" th:value="${po.plantId}" class="form-control" hideAllItem/>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label mr-2">状态</label>
                        <sp:select  id="status" name="status" key="purchase_order_status" class="form-control" th:value="${po.status}" hideAllItem/>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label mr-2" for="remark">备注</label>
                        <input class="form-control" type="text" id="remark" th:value="${po.remark}" name="remark">
                    </div>
                    <div class="form-group">
                        <label class="col-form-label mr-2" for="remark">附件</label>
                        <div class="attachment">
                            <input type="file" multiple="multiple" name="attachment_file" id="attachment_file" data-group-name="purchase" onchange="upload.ajaxFileUpload()" style="width: 99px;">
                            <input type="text" style="display:none;" name="attachmentList" id="attachmentList" th:value="${po.attachmentList ne null ? T(com.rick.common.util.JsonUtils).toJson(po.attachmentList) : '[]'}">

                            <th:block th:if="${po.attachmentList ne null}">
                                <div class="item" th:each="f : ${po.attachmentList}">
                                    <a th:text="${f.fullName}" th:href="${f.url}" target="_blank"></a><button type="button" class="btn btn-link attachment_delete_btn" th:onclick="upload.deleteAttachment([[${f.id}]], this)">删除</button>
                                </div>
                            </th:block>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <form class="form-item" id="form-item">
                    <div id="table-container">
                    </div>
                    <div class="pull-right mt-2 mr-5 footer">
                        <label>订单号：</label><span class="bold" th:text="${po.code}" id="code_text"></span>
                        <label>创建人：</label><span class="bold" th:text="${createName}"></span>
                        <label>创建时间：</label><span id="createTime" class="bold" th:text="${createTime}"></span>
                        <th:block sec:authorize="${hasAuthority('pur_purchase_order_add') or hasAuthority('pur_purchase_order_edit')}">
                            <label>预计本单应付：</label><span class="bold" id="total_amount" style="color: #f86c6b;">0</span>元
                        </th:block>
                        <input type="hidden" name="totalAmount" id="totalAmount">
                    </div>
                </form>
            </div>
        </div>

        <div class="nav-tabs-boxed" th:if="${po.id != null}">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#tab-1" role="tab" aria-controls="home" aria-selected="false">收货信息</a></li>
                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#tab-3" role="tab" aria-controls="home" aria-selected="false" id="so_tab">关联销售单</a></li>
                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#tab-2" role="tab" aria-controls="home" aria-selected="false">收货记录</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tab-1" role="tabpanel" th:if="${po.id != null}">
                    <form id="receiveContactInfo">
                        <div class="form-group row">
                            <label class="col-sm-1 col-form-label">联系人</label>
                            <div class="col-sm-4">
                                <input class="form-control" type="text" name="receiveContactPerson">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-1 col-form-label">联系电话</label>
                            <div class="col-sm-4">
                                <input class="form-control" type="text" name="receiveContactNumber">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-1 col-form-label">联系邮箱</label>
                            <div class="col-sm-4">
                                <input class="form-control" type="text" name="receiveContactMail" placeholder="可选">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-1 col-form-label">收货地址</label>
                            <div class="col-sm-11">
                                <input class="form-control" type="text" name="address">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="tab-pane" id="tab-3" role="tabpanel">
                    <form id="soInfo">
                        <div class="form-group row">
                            <label class="col-sm-1 col-form-label">销售单号</label>
                            <div class="col-sm-11">
                                <input class="form-control" type="hidden" name="soCode" disabled>
                                <label class="col-form-label"><a href="javascript:;" id="so_code_link" onclick="openOnNewTab(this.innerHTML, '/produce_orders/code/' + this.innerHTML, this.innerHTML)"></a></label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-1 col-form-label">客户名称</label>
                            <div class="col-sm-11">
                                <input class="form-control" type="text" name="customerName" disabled>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-1 col-form-label">客户订单号</label>
                            <div class="col-sm-11">
                                <input class="form-control" type="text" name="sourceOrderNum" disabled>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-1 col-form-label">客户物料号</label>
                            <div class="col-sm-11">
                                <input class="form-control" type="text" name="customerMaterialCode" disabled>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="tab-pane" id="tab-2" role="tabpanel">
                    <div id="goods_receipt_container" role="tabpanel">
                        <div class="table-fixed-container">
                            <table class="table table-responsive-sm table-bordered table-striped table-sm table-thead" style="margin-bottom: 0">
                                <thead>
                                <tr>
                                    <th style="width: 50px" data-index>序号</th>
                                    <th style="width: 100px" class="sortable active asc">物料</th>
                                    <th style="width: 150px;">名称</th>
<!--                                    <th style="width: 200px;">规格</th>-->
                                    <th>规格 & 特征值</th>
                                    <th style="width: 80px">基本单位</th>
                                    <th style="width: 90px" class="sortable text-right">订单数量</th>
                                    <th style="width: 120px" class="sortable text-right" data-sort-type="number">已收货数量</th>
                                    <th style="width: 120px" class="sortable text-right" data-sort-type="number">待收货数量</th>
                                    <th style="width: 80px" class="sortable">状态</th>
                                    <th style="width: 80px">物料凭证</th>
                                </tr>
                                </thead>
                            </table>
                            <table class="table table-responsive-sm table-bordered table-striped table-sm table-tbody" style="margin-bottom: 0">
                                <tbody>
                                <tr th:each="s: ${goodsReceiptItemList}">
                                    <td th:text="${sStat.index + 1}" data-index></td>
                                    <td th:text="${s.materialCode}" th:data-sort-value="${s.materialCode}"></td>
                                    <td th:text="${s.materialName}" th:data-sort-value="${s.materialName}"></td>
<!--                                    <td th:text="${s.materialSpecification}" th:data-sort-value="${s.materialSpecification}"></td>-->
                                    <td th:text="${s.materialSpecification + '' + s.characteristic}" ></td>
<!--                                    <td th:text="${s.characteristic}" th:data-sort-value="${s.characteristic}" th:title="${s.characteristic}"></td>-->
                                    <td th:text="${s.unitText}" th:data-sort-value="${s.unitText}"></td>
                                    <td th:text="${#numbers.formatDecimal(s.quantity,1,'COMMA',2,'POINT')}" th:data-sort-value="${s.quantity}" th:class="text-right"></td>
                                    <td th:text="${#numbers.formatDecimal(s.goodsReceiptQuantity,1,'COMMA',2,'POINT')}" th:data-sort-value="${s.goodsReceiptQuantity}" th:class="text-right"></td>
                                    <td th:text="${#numbers.formatDecimal(s.openQuantity,1,'COMMA',2,'POINT')}" th:data-sort-value="${s.openQuantity}" th:class="text-right"></td>
                                    <td th:class="${'status-' + s.complete}" th:data-sort-value="${s.complete}" th:text="${s.complete == true ? '已完成' : '未完成'}"></td>
                                    <td>
                                        <a href="javascript:;" th:onclick="openOnNewTab('[(${s.id})]', '[(${\'/reports/699659248728047616?root_reference_code=\'+s.purchaseOrderCode+\'&root_reference_item_id=\'+s.id+\'&material_id=\' + s.materialId})]', '物料凭证')">详情</a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="dialogInput" style="display: none"></div>
        <div id="multipleDialogInput" style="display: none"></div>
        <div class="operator-bar text-center" id="operator-bar" sec:authorize="${hasAuthority('pur_purchase_order_add') or hasAuthority('pur_purchase_order_edit')}">
            <button class="btn btn-primary" type="button" name="send" onclick="send()">
                <i class="fa fa-send"></i> 提交</button>

            <button class="btn btn-secondary ml-2" type="button" name="download" onclick="download()" th:if="${po.id != null}">
                <i class="fa fa-upload"></i> 下载订单</button>
        </div>
    </div>
</th:block>
<th:block th:replace="includes/base :: common_js(~{::script})">
    <script th:src="@{/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js}"></script>
    <script th:src="@{/plugins/bootstrap-datepicker/js/bootstrap-datepicker.zh-CN.min.js}"></script>
    <script type="text/javascript" th:src="@{/plugins/jquery.form2json.js}"></script>
    <script type="text/javascript" th:src="@{/js/table/jquery.formautofill.min.js}"></script>
    <script th:src="@{/js/jquery.dialog.js}"></script>

    <script th:src="@{/editable-table/editable-table.js}"></script>
    <script th:src="@{/js/jquery.table.js}"></script>
    <script th:src="@{/js/editable-table-plus.js}"></script>

    <script th:src="@{/js/jquery.dialogInput.js}"></script>
    <script th:src="@{/js/editable-table-plus-customize_type.js}"></script>

    <script th:src="@{/ajaxfileupload.js}"></script>
    <script th:src="@{/js/upload.js}"></script>

    <script th:inline="javascript">
        let readonly = true
        /*[# sec:authorize="${hasAuthority('pur_purchase_order_add') or hasAuthority('pur_purchase_order_edit')}"]*/
            readonly = false
        /*[/]*/

        let isAdd = /*[[${po.id == null}]]*/
        let formHeader = document.getElementById('form-header');
        let formItem = document.getElementById('form-item');
        let $receiveContactInfo = $('#receiveContactInfo')
        let $soInfo = $('#soInfo')

        let value = [
            // {
                // "marriage": ["990", "999"]
                // "marriage": true
            // }
        ]
        // 可编辑表格初始化
        var $editableTable = $('#table-container').editableTablePlus({
            customizeType,
            showRowNumber: true, // 是否显示行号
            // readonly, // 只读
            allowEmpty: false, // 表格允许为空
            highlight: true,
            rowClick: function (context, $tr, row, fromActiveRow) {
                // 保存 receiveContactInfo
                if (fromActiveRow) {
                    fromActiveRow.$tr[0].receiveContactInfo = $receiveContactInfo.form2json({allowEmptyMultiVal:true})
                }
                $receiveContactInfo.autofill({...{
                        'receiveContactPerson': '',
                        'receiveContactNumber': '',
                        'receiveContactMail': '',
                        'address': '',
                    }, ...$tr[0].receiveContactInfo})

                $soInfo.autofill({...{
                        'soCode': '',
                        'customerName': '',
                        'sourceOrderNum': '',
                        'customerMaterialCode': ''
                    }, ...($tr[0].soInfo ? $tr[0].soInfo : {})})

                $('#so_code_link').text($('input[name=soCode]').val())

                // if (row.referenceType2 === 'SO') {
                //     $('#so_tab').show()
                // } else {
                //     $('#so_tab').hide()
                // }
            },
            afterDeleteRow: function () {
                calcTotalAmount()
            },
            columnConfigs: [
                {
                    type: "material",
                    name: "materialId",
                    title: "物料",
                    width: 100,
                    required: true,
                    mode: 'multiple', // 多选,
                    reportId: '718618818011729920',
                    // params: {categoryId: "717389543182962688"},
                    beforeShow: function ($tr, context) {
                        let partnerId = $('#partnerId').val()

                        if (!partnerId) {
                            toastr.warning('请先选择供应商！');
                            return false
                        }
                        context.params.partnerId = partnerId
                        return true;
                    },
                    selected: function ($tr, value) {
                        characteristic.selectedCharacteristic($tr, value);
                    }
                },
                // {
                //     type: "label",
                //     name: "materialName",
                //     width: 100,
                //     title: "名称"
                // },
                {
                    type: "render",
                    name: "materialName",
                    title: "名称",
                    render: function (row) {
                        return readonly ? row.materialName : '<a href="javascript:;" onclick="showMaterialDialog(\''+row.materialId+'\')">'+row.materialName+'</a>'
                    }
                },
                {
                    type: "label",
                    name: "materialSpecification",
                    title: "规格"
                },
                {
                    type: "characteristic",
                    name: "characteristic",
                    // width: 80,
                    title: "特征值",
                    required: true,
                    disabled: true
                },
                {
                    type: "decimal",
                    name: "quantity",
                    title: "数量",
                    width: 60,
                    required: true,
                    align: 'right',
                    keyup: function ($tr, event, value) {
                        calcAmount($tr);
                    }
                },
                {
                    type: "text_label",
                    name: "unit",
                    title: "单位",
                    width: 60,
                    disabled: true,
                    required: false,
                },
                {
                    type: readonly ? "hidden": "decimal",
                    name: "unitPrice",
                    title: "含税单价",
                    align: 'right',
                    width: 100,
                    required: true,
                    keyup: function ($tr, event, value) {
                        calcAmount($tr);
                    }
                },
                {
                    type: readonly ? "hidden": "label",
                    name: "amount",
                    width: 100,
                    title: "含税总计",
                    required: false,
                },
                {
                    type: "date",
                    name: "deliveryDate",
                    width: 100,
                    title: "交货日期",
                    required: true,
                },
                {
                    type: "checkbox",
                    name: "purchaseSend",
                    width: 80,
                    title: "采购直发",
                    // afterValueSet(value, $tr, $input) {
                    //     if (value.referenceType1 === 'PR') {
                    //         setTimeout(() => {
                    //             $input.attr('disabled', true).attr('readonly', true)
                    //         }, 100)
                    //     }
                    // }
                },
                {
                    type: "text",
                    title: "备注",
                    name: "remark",
                },
                {
                    type: "hidden",
                    name: "referenceType1",
                    valueFormat:function (row, value) {
                        if (value) {
                            return value.code;
                        }
                        return null;
                    }
                },
                {
                    type: "hidden",
                    name: "referenceId1",
                },
                {
                    type: "hidden",
                    name: "referenceType2",
                    valueFormat:function (row, value) {
                        if (value) {
                            return value.code;
                        }
                        return null;
                    }
                },
                {
                    type: "hidden",
                    name: "referenceId2",
                },
                {
                    type: isAdd ? "hidden": "checkbox",
                    title: "收货完成",
                    name: "complete",
                    align: 'center',
                    width: 80,
                },
                // {
                //     type: "checkbox",
                //     title: "marriage",
                //     name: "marriage",
                //     align: "center",
                //     datasource: [ // 有datasource 多选， 没有就是单选
                //         {
                //             name: "990",
                //             value: "轮毂"
                //         },
                //         {
                //             name: "999",
                //             value: "端盖"
                //         },
                //         {
                //             name: "9999",
                //             value: "转子"
                //         }
                //     ],
                //     onchange: function (context, value) {
                //         console.log(value)
                //     }
                // }
            ],
            value // 初始化值
        })

        // end
        $('#deliveryDate').datepicker({
            language: "zh-CN",
            autoclose: true,
            clearBtn: true,
            todayBtn: 'linked',
            todayHighlight: true,
            format: 'yyyy-mm-dd',
            startDate: new Date()
        })

        function calcAmount($tr) {
            $tr.find('td input[name=amount]').val('')

            let quantity = $tr.find('td input[name=quantity]').val()
            let unitPrice = $tr.find('td input[name=unitPrice]').val()
            if (quantity && unitPrice) {
                let amount = math.multiply(math.bignumber(quantity), math.bignumber(unitPrice));
                $tr.find('td input[name=amount]').val(amount)
            }

            calcTotalAmount()
        }

        function calcTotalAmount() {
            let totalAmount = 0
            $('#table-container tbody input[name=amount]').each(function () {
                if ($(this).val()) {
                    totalAmount = math.add(math.bignumber(totalAmount), math.bignumber($(this).val()));
                }
            })
            $('#total_amount').text(totalAmount)
            $('#totalAmount').text(totalAmount)
        }

        function changeVendor() {
            if ($editableTable.editableTablePlus('getValue').length && confirm('切换供应商物料数据将会被清空， 要继续吗？')) {
                $editableTable.editableTablePlus('clear')
            }
        }

        function valid() {
            var formHeaderValidity = formHeader.checkValidity()
            var formItemValidity = formItem.checkValidity()
            formHeader.classList.add('was-validated')
            formItem.classList.add('was-validated')
            return formHeaderValidity && formItemValidity;
        }

        function removeValidClass() {
            formHeader.classList.remove('was-validated')
            formItem.classList.remove('was-validated')
        }

        function send() {
            if (!valid()) {
                return
            }

            var params = $('#form-header').form2json({allowEmptyMultiVal:true})
            delete params.attachment_file
            params['attachmentList'] = JSON.parse(params['attachmentList'])

            params['itemList'] = $editableTable.editableTablePlus('getValue')

            characteristic.getCharacteristicParams($editableTable, params['itemList'])

            // 保存当前 active 到 DOM 中
            let activeTr = $editableTable.editableTablePlus('getActiveRowValue').$tr[0];
            activeTr.receiveContactInfo = $receiveContactInfo.form2json({allowEmptyMultiVal:true})

            for (let index in params['itemList']) {
                let item = params['itemList'][index]
                let trDom = $('#table-container table.table-tbody tbody tr').eq(index)[0]

                // 收货地址
                item['contactInfo'] = (trDom.receiveContactInfo && Object.values(trDom.receiveContactInfo).filter(v => v).length === 0) ? null : {
                    "contactPerson": trDom.receiveContactInfo.receiveContactPerson,
                    "contactNumber": trDom.receiveContactInfo.receiveContactNumber,
                    "contactMail": trDom.receiveContactInfo.receiveContactMail,
                    "address": trDom.receiveContactInfo.address
                }

                if (item.purchaseSend && (!item.contactInfo || !item.contactInfo.address || !item.contactInfo.contactPerson || !item.contactInfo.contactNumber)) {
                    toastr.error('采购直发客户收货信息不能为空！')
                    return;
                }
            }

            console.log(params)

            $.ajax({
                url: '/purchase_order',
                type: "POST",
                data: JSON.stringify(params),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function(res){
                    // $('#code').val(res.code)
                    // $('#code_text').text(res.code)
                    // $('#id').val(res.id)
                    // $('#createTime').text(res.createTime)
                    //
                    // removeValidClass();
                    // loadItem(res.itemList)
                    // toastr.success('订单提交成功！' + res.code);
                    // reloadTab('purchase_order_list')

                    toastr.success('订单提交成功');
                    // if (isAdd) {
                        window.location = '/purchase_order/'+res.id+'?readonly=true'
                    // }
                    reloadTab('purchase_order_list')
                }
            });
        }

        function download() {
            if (!valid()) {
                return
            }
            window.location = "/purchase_order/" + document.getElementById('id').value + "/download"
        }

        $('#goods_receipt_container').table({
            fixedHead: true
        })

        // loading detail
        let itemList = /*[[${po.itemList}]]*/
        loadItem(itemList)

        function loadItem(itemList) {
            if (itemList) {
                characteristic.loadCharacteristic($editableTable, itemList)
                $editableTable.editableTablePlus('setActiveIndex', 1)
                calcTotalAmount()

                // 历史的不能修改物料和删除
                let $trs = $editableTable.editableTablePlus('getEditRow')
                $trs.find('[name=materialCode]').attr('disabled', true)
                // $trs.find('td.operator').hide()

                let firstContactInfo;
                let soInfo;
                for(let i = 0; i < itemList.length; i++) {
                    if (itemList[i].contactInfo) {
                        $trs[i].receiveContactInfo = {
                            "receiveContactPerson": itemList[i].contactInfo['contactPerson'],
                            "receiveContactNumber": itemList[i].contactInfo['contactNumber'],
                            "receiveContactMail": itemList[i].contactInfo['contactMail'],
                            "address": itemList[i].contactInfo['address']
                        }
                    }
                    else {
                        $trs[i].receiveContactInfo = {}
                    }

                    if (itemList[i].soInfo) {
                        $trs[i].soInfo = {
                            "soCode": itemList[i].soInfo ? itemList[i].soInfo.code : '',
                            "customerName": itemList[i].soInfo ? itemList[i].soInfo.name : '',
                            "sourceOrderNum": itemList[i].soInfo ? itemList[i].soInfo.sourceOrderNum : '',
                            "customerMaterialCode": itemList[i].soInfo ? itemList[i].soInfo.customerMaterialCode : ''
                        }
                    } else {
                        $trs[i].soInfo = {}
                    }

                    if (i == 0) {
                        firstContactInfo = $trs[i].receiveContactInfo
                        soInfo = $trs[i].soInfo

                        // if (itemList[i].referenceType2 === 'SO') {
                        //     $('#so_tab').show()
                        // } else {
                        //     $('#so_tab').hide()
                        // }
                    }
                }

                $receiveContactInfo.autofill(firstContactInfo)
                $soInfo.autofill(soInfo)
                $('#so_code_link').text($('input[name=soCode]').val())
            }
        }

        if (readonly) {
            $editableTable.editableTablePlus('readonly', true)
        }
    </script>
</th:block>
</body>
</html>